.gantt-grid {
  &__row {
    &:last-child {
      & > .gantt-grid__cell {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  &__cell {
    display: inline-block;
    height: inherit;
    border-right: 1px solid #ccc;

    &.weekend {
      background: rgba(236, 221, 176, 0.31);

    }
  }
}