.gantt-control-task {
  &__row:hover {
    background: #fff3a1;

    & > div {
      &:last-child {
        color: #7299c9;

      }
    }
  }

  &__row {
    cursor: default;
    display: flex;
    justify-content: space-between;
    &:first-child {
      border-top: 1px solid #fff;
    }
  }

  &__row > div {
    line-height: 36px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    width: 100%;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-left: 1px solid #ccc;
    }

    &:last-child {
      cursor: pointer;
      font-weight: 900;
      font-size: 24px;
      color: #7fd5ff;

      &:hover {
        color: #7299c9;
      }
    }
  }

  &.button-add-task {
    width: 180px;
  }

}